# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
input/
output/
*.log
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
log/
downloaded/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/domainFinder